@model Person
  
<div class="row">
  <div class="col-2">@Model.Name</div>
  <div class="col-1">@Model.PhoneNumber</div>
  <div class="col">
    @foreach (var language in Model.PeopleLanguages)
    {
      <span class="comma">
        @language.Langauge.Name
        <a class="link-dark" asp-action="RemoveLanguage" asp-route-pid="@Model.Id" asp-route-lid="@language.LanguageId"><i class="bi bi-trash"></i></a>
      </span>
    }
  </div>
  <div class="col-2">@Model.City.Name</div>
  <div class="col-2">@Model.City.Country.Name</div>
  <div class="col-auto d-flex justify-content-end">
        <a class="link-dark" asp-action="Delete" asp-route-id="@Model.Id"><i class="bi bi-trash"></i></a>
      </div>
</div>
